<!DOCTYPE html>
<html>
  <head>
    <title>AICar</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="Genetic">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  	<script type="text/javascript" src="../2DEngine/2DEngine.v1.0.2.js"></script>

	
	<style type="text/css">
		
		body{
			margin: 0;
			padding: 0;
			text-align: center;
		}
		
		#myCanvas{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		
	</style>
	
  </head>
  	
  <body>
   	
   	<canvas id="myCanvas"></canvas>
	
	<button onclick="play()">play</button>
	
	<button onclick="left()">left</button>
	
	<button onclick="down()">down</button>
	
	<button onclick="right()">right</button>
		
	<button onclick="up()">up</button>
	
  </body>
  
  <script type="text/javascript">
  	 
  	var canvas = document.getElementById('myCanvas');
  	
  	var engine = Engine2D.method.getInstance();
 	 
 	engine.init(canvas);
 	
 	var res = [
 				{"id": "1","src":"/role/images/1.png"},
 				{"id": "2","src":"/role/images/2.png"},
 				{"id": "3","src":"/role/images/3.png"},
 				{"id": "4","src":"/role/images/4.png"},
 				{"id": "5","src":"/role/images/5.png"},
 				{"id": "6","src":"/role/images/6.png"},
 				{"id": "7","src":"/role/images/7.png"},
 				{"id": "8","src":"/role/images/8.png"}
 			];
 	
 	var roleDown = [
			{"id": "1","src":"/role/images/cbl.png","x":0,"y":0,"width":16,"height":32},
			{"id": "2","src":"/role/images/cbl.png","x":16,"y":0,"width":16,"height":32},
			{"id": "3","src":"/role/images/cbl.png","x":32,"y":0,"width":16,"height":32}
		];
 	
 	var roleLeft = [
		{"id": "1","src":"/role/images/cbl.png","x":0,"y":32,"width":16,"height":32},
		{"id": "2","src":"/role/images/cbl.png","x":16,"y":32,"width":16,"height":32},
		{"id": "3","src":"/role/images/cbl.png","x":32,"y":32,"width":16,"height":32}
	];
 	
 	var roleRight = [
		{"id": "1","src":"/role/images/cbl.png","x":0,"y":64,"width":16,"height":32},
		{"id": "2","src":"/role/images/cbl.png","x":16,"y":64,"width":16,"height":32},
		{"id": "3","src":"/role/images/cbl.png","x":32,"y":64,"width":16,"height":32}
	];
 	
 	var roleUp = [
		{"id": "1","src":"/role/images/cbl.png","x":0,"y":96,"width":16,"height":32},
		{"id": "2","src":"/role/images/cbl.png","x":16,"y":96,"width":16,"height":32},
		{"id": "3","src":"/role/images/cbl.png","x":32,"y":96,"width":16,"height":32}
	];
 	
 	Engine2D.resource._import("role",res);
 	
 	Engine2D.resource._import("roleDown",roleDown);
 	
 	Engine2D.resource._import("roleLeft",roleLeft);
 	
 	Engine2D.resource._import("roleRight",roleRight);
 	
 	Engine2D.resource._import("roleUp",roleUp);
 	
 	var startScene = new Engine2D.scene();
 	startScene.name = "startScene";
 	startScene.fps = 60;
 	startScene.hitTest = true;

 	startScene.update = function(){
 	  engine.clear();
 	}
 	
 	engine.addScene(startScene);
 	engine.showFPS = true;
 	
 	var testLayer = new Engine2D.layer();
  	testLayer.name = "testLayer";
  	
  	testLayer.update = function(){
  		
  	}
  	 
  	startScene.addLayer(testLayer);
 	
  	var x = 60;
	var y = 60;
     
  	var testSpirit = new Engine2D.spirit();
  	testSpirit.name = "agent";
  	testSpirit.spiritType = 2;
  	testSpirit.substanceType = 0;
  	testSpirit.width = 32;
  	testSpirit.height = 32;
  	testSpirit.rotate = 0;
  	testSpirit.x = x;
  	testSpirit.y = y;
  	testSpirit.animationId = "role";
  	
  	testLayer.addSpirit(testSpirit);
  	
  	var roleRes = Engine2D.resource["role"];
  	
  	var fa = new Engine2D.frameAnimation("role",roleRes, 8, 4);
  	
  	testSpirit.addAnimation(fa);
  	

  	var x = 120;
	var y = 100;
     
  	var roleSpirit = new Engine2D.spirit();
  	roleSpirit.name = "agent2";
  	roleSpirit.spiritType = 2;
  	roleSpirit.substanceType = 0;
  	roleSpirit.width = 16;
  	roleSpirit.height = 32;
  	roleSpirit.rotate = 0;
  	roleSpirit.x = x;
  	roleSpirit.y = y;
  	roleSpirit.animationId = "roleDown";
  	
  	testLayer.addSpirit(roleSpirit);
  	
  	var roleDown = Engine2D.resource["roleDown"];
  	var roleLeft = Engine2D.resource["roleLeft"];
  	var roleRight = Engine2D.resource["roleRight"];
  	var roleUp = Engine2D.resource["roleUp"];

  	var fa2 = new Engine2D.frameAnimation("roleDown",roleDown, 3, 4);
  	var faRL = new Engine2D.frameAnimation("roleLeft",roleLeft, 3, 4);
  	var faRR = new Engine2D.frameAnimation("roleRight",roleRight, 3, 4);
  	var faRU = new Engine2D.frameAnimation("roleUp",roleUp, 3, 4);
  	
  	roleSpirit.addAnimation(fa2);
  	roleSpirit.addAnimation(faRL);
  	roleSpirit.addAnimation(faRR);
  	roleSpirit.addAnimation(faRU);
  	
  	function play(){
  		engine.runScene("startScene");
  	}
  	
  	function left(){
  		roleSpirit.playAnimation("roleLeft");
  	}
  	
  	function down(){
  		roleSpirit.playAnimation("roleDown");
  	}
  	
  	function right(){
  		roleSpirit.playAnimation("roleRight");
  	}
  	
  	function up(){
  		roleSpirit.playAnimation("roleUp");
  	}

  </script>
   
</html>
